@import "tailwindcss";

@font-face{
  font-family: Caveat;
  src: local(Caveat), url(./assets/Caveat-VariableFont_wght.ttf)
}

@font-face{
  font-family: MomoSignature;
  src: local(MomoSignature), url(./assets/MomoSignature-Regular.ttf)
}

@theme{
  --font-Caveat: Caveat;
  --font-MomoSignature: MomoSignature;
}